/* GTK3 Colors - Brand Guide */
@define-color borders_breeze {{BORDER}};
@define-color content_view_bg_breeze {{BG_DARK}};
@define-color error_color_backdrop_breeze {{DANGER}};
@define-color error_color_breeze {{DANGER}};
@define-color error_color_insensitive_backdrop_breeze {{PRIMARY_DARKEST}};
@define-color error_color_insensitive_breeze {{PRIMARY_DARKEST}};
@define-color insensitive_base_color_breeze {{BG_DARK}};
@define-color insensitive_base_fg_color_breeze {{TEXT_DIM}};
@define-color insensitive_bg_color_breeze {{BG}};
@define-color insensitive_borders_breeze {{BORDER}};
@define-color insensitive_fg_color_breeze {{TEXT_DIM}};
@define-color insensitive_selected_bg_color_breeze {{BG}};
@define-color insensitive_selected_fg_color_breeze {{TEXT_DIM}};
@define-color insensitive_unfocused_bg_color_breeze {{BG}};
@define-color insensitive_unfocused_fg_color_breeze {{TEXT_DIM}};
@define-color insensitive_unfocused_selected_bg_color_breeze {{BG}};
@define-color insensitive_unfocused_selected_fg_color_breeze {{TEXT_DIM}};
@define-color link_color_breeze {{PRIMARY}};
@define-color link_visited_color_breeze {{ACCENT}};
@define-color success_color_backdrop_breeze {{SUCCESS}};
@define-color success_color_breeze {{SUCCESS}};
@define-color success_color_insensitive_backdrop_breeze {{PRIMARY_DARKEST}};
@define-color success_color_insensitive_breeze {{PRIMARY_DARKEST}};
@define-color theme_base_color_breeze {{BG_DARK}};
@define-color theme_bg_color_breeze {{BG}};
@define-color theme_button_background_backdrop_breeze {{BG}};
@define-color theme_button_background_backdrop_insensitive_breeze {{BG}};
@define-color theme_button_background_insensitive_breeze {{BG}};
@define-color theme_button_background_normal_breeze {{BG}};
@define-color theme_button_decoration_focus_backdrop_breeze {{PRIMARY}};
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze {{ACCENT}};
@define-color theme_button_decoration_focus_breeze {{PRIMARY}};
@define-color theme_button_decoration_focus_insensitive_breeze {{ACCENT}};
@define-color theme_button_decoration_hover_backdrop_breeze {{ACCENT}};
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze {{ACCENT}};
@define-color theme_button_decoration_hover_breeze {{ACCENT}};
@define-color theme_button_decoration_hover_insensitive_breeze {{ACCENT}};
@define-color theme_button_foreground_active_backdrop_breeze {{TEXT_BRIGHT}};
@define-color theme_button_foreground_active_backdrop_insensitive_breeze {{TEXT_DIM}};
@define-color theme_button_foreground_active_breeze {{TEXT_BRIGHT}};
@define-color theme_button_foreground_active_insensitive_breeze {{TEXT_DIM}};
@define-color theme_button_foreground_backdrop_breeze {{TEXT}};
@define-color theme_button_foreground_backdrop_insensitive_breeze {{TEXT_DIM}};
@define-color theme_button_foreground_insensitive_breeze {{TEXT_DIM}};
@define-color theme_button_foreground_normal_breeze {{TEXT}};
@define-color theme_fg_color_breeze {{TEXT}};
@define-color theme_header_background_backdrop_breeze {{BG}};
@define-color theme_header_background_breeze {{PRIMARY_DARKEST}};
@define-color theme_header_background_light_breeze {{BG}};
@define-color theme_header_foreground_backdrop_breeze {{TEXT_MUTED}};
@define-color theme_header_foreground_breeze {{TEXT_BRIGHT}};
@define-color theme_header_foreground_insensitive_backdrop_breeze {{TEXT_MUTED}};
@define-color theme_header_foreground_insensitive_breeze {{TEXT_MUTED}};
@define-color theme_hovering_selected_bg_color_breeze {{PRIMARY_DARK}};
@define-color theme_selected_bg_color_breeze {{PRIMARY_DARKEST}};
@define-color theme_selected_fg_color_breeze {{TEXT_BRIGHT}};
@define-color theme_text_color_breeze {{TEXT}};
@define-color theme_titlebar_background_backdrop_breeze {{BG}};
@define-color theme_titlebar_background_breeze {{PRIMARY_DARKEST}};
@define-color theme_titlebar_background_light_breeze {{BG}};
@define-color theme_titlebar_foreground_backdrop_breeze {{TEXT_MUTED}};
@define-color theme_titlebar_foreground_breeze {{TEXT_BRIGHT}};
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze {{TEXT_MUTED}};
@define-color theme_titlebar_foreground_insensitive_breeze {{TEXT_MUTED}};
@define-color theme_unfocused_base_color_breeze {{BG_DARK}};
@define-color theme_unfocused_bg_color_breeze {{BG}};
@define-color theme_unfocused_fg_color_breeze {{TEXT_MUTED}};
@define-color theme_unfocused_selected_bg_color_alt_breeze {{PRIMARY_DARK}};
@define-color theme_unfocused_selected_bg_color_breeze {{PRIMARY_DARK}};
@define-color theme_unfocused_selected_fg_color_breeze {{TEXT}};
@define-color theme_unfocused_text_color_breeze {{TEXT_MUTED}};
@define-color theme_unfocused_view_bg_color_breeze {{BG_DARK}};
@define-color theme_unfocused_view_text_color_breeze {{TEXT_DIM}};
@define-color theme_view_active_decoration_color_breeze {{PRIMARY}};
@define-color theme_view_hover_decoration_color_breeze {{ACCENT}};
@define-color tooltip_background_breeze {{BG_DARK}};
@define-color tooltip_border_breeze {{PRIMARY_DARK}};
@define-color tooltip_text_breeze {{TEXT}};
@define-color unfocused_borders_breeze {{BORDER}};
@define-color unfocused_insensitive_borders_breeze {{BORDER}};
@define-color warning_color_backdrop_breeze {{WARNING}};
@define-color warning_color_breeze {{WARNING}};
@define-color warning_color_insensitive_backdrop_breeze {{PRIMARY_DARKEST}};
@define-color warning_color_insensitive_breeze {{PRIMARY_DARKEST}};
