/* GTK4 Colors - Brand Guide */
@define-color borders_breeze #404040;
@define-color content_view_bg_breeze #171717;
@define-color error_color_backdrop_breeze #991B1B;
@define-color error_color_breeze #991B1B;
@define-color error_color_insensitive_backdrop_breeze #2e0000;
@define-color error_color_insensitive_breeze #2e0000;
@define-color insensitive_base_color_breeze #171717;
@define-color insensitive_base_fg_color_breeze #525252;
@define-color insensitive_bg_color_breeze #252525;
@define-color insensitive_borders_breeze #404040;
@define-color insensitive_fg_color_breeze #525252;
@define-color insensitive_selected_bg_color_breeze #252525;
@define-color insensitive_selected_fg_color_breeze #525252;
@define-color insensitive_unfocused_bg_color_breeze #252525;
@define-color insensitive_unfocused_fg_color_breeze #525252;
@define-color insensitive_unfocused_selected_bg_color_breeze #252525;
@define-color insensitive_unfocused_selected_fg_color_breeze #525252;
@define-color link_color_breeze #8b5555;
@define-color link_visited_color_breeze #a87070;
@define-color success_color_backdrop_breeze #22C55E;
@define-color success_color_breeze #22C55E;
@define-color success_color_insensitive_backdrop_breeze #2e0000;
@define-color success_color_insensitive_breeze #2e0000;
@define-color theme_base_color_breeze #171717;
@define-color theme_bg_color_breeze #252525;
@define-color theme_button_background_backdrop_breeze #252525;
@define-color theme_button_background_backdrop_insensitive_breeze #252525;
@define-color theme_button_background_insensitive_breeze #252525;
@define-color theme_button_background_normal_breeze #252525;
@define-color theme_button_decoration_focus_backdrop_breeze #8b5555;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #a87070;
@define-color theme_button_decoration_focus_breeze #8b5555;
@define-color theme_button_decoration_focus_insensitive_breeze #a87070;
@define-color theme_button_decoration_hover_backdrop_breeze #a87070;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #a87070;
@define-color theme_button_decoration_hover_breeze #a87070;
@define-color theme_button_decoration_hover_insensitive_breeze #a87070;
@define-color theme_button_foreground_active_backdrop_breeze #F5F5F5;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #525252;
@define-color theme_button_foreground_active_breeze #F5F5F5;
@define-color theme_button_foreground_active_insensitive_breeze #525252;
@define-color theme_button_foreground_backdrop_breeze #E5E5E5;
@define-color theme_button_foreground_backdrop_insensitive_breeze #525252;
@define-color theme_button_foreground_insensitive_breeze #525252;
@define-color theme_button_foreground_normal_breeze #E5E5E5;
@define-color theme_fg_color_breeze #E5E5E5;
@define-color theme_header_background_backdrop_breeze #252525;
@define-color theme_header_background_breeze #2e0000;
@define-color theme_header_background_light_breeze #252525;
@define-color theme_header_foreground_backdrop_breeze #A3A3A3;
@define-color theme_header_foreground_breeze #F5F5F5;
@define-color theme_header_foreground_insensitive_backdrop_breeze #A3A3A3;
@define-color theme_header_foreground_insensitive_breeze #A3A3A3;
@define-color theme_hovering_selected_bg_color_breeze #3e0000;
@define-color theme_selected_bg_color_breeze #2e0000;
@define-color theme_selected_fg_color_breeze #F5F5F5;
@define-color theme_text_color_breeze #E5E5E5;
@define-color theme_titlebar_background_backdrop_breeze #252525;
@define-color theme_titlebar_background_breeze #2e0000;
@define-color theme_titlebar_background_light_breeze #252525;
@define-color theme_titlebar_foreground_backdrop_breeze #A3A3A3;
@define-color theme_titlebar_foreground_breeze #F5F5F5;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #A3A3A3;
@define-color theme_titlebar_foreground_insensitive_breeze #A3A3A3;
@define-color theme_unfocused_base_color_breeze #171717;
@define-color theme_unfocused_bg_color_breeze #252525;
@define-color theme_unfocused_fg_color_breeze #A3A3A3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #3e0000;
@define-color theme_unfocused_selected_bg_color_breeze #3e0000;
@define-color theme_unfocused_selected_fg_color_breeze #E5E5E5;
@define-color theme_unfocused_text_color_breeze #A3A3A3;
@define-color theme_unfocused_view_bg_color_breeze #171717;
@define-color theme_unfocused_view_text_color_breeze #525252;
@define-color theme_view_active_decoration_color_breeze #8b5555;
@define-color theme_view_hover_decoration_color_breeze #a87070;
@define-color tooltip_background_breeze #171717;
@define-color tooltip_border_breeze #3e0000;
@define-color tooltip_text_breeze #E5E5E5;
@define-color unfocused_borders_breeze #404040;
@define-color unfocused_insensitive_borders_breeze #404040;
@define-color warning_color_backdrop_breeze #F59E0B;
@define-color warning_color_breeze #F59E0B;
@define-color warning_color_insensitive_backdrop_breeze #2e0000;
@define-color warning_color_insensitive_breeze #2e0000;
